 
      accordion {  
         width: 400px;  
         border: solid 1px black;  
         background-color:red;
    }  
  
    .contentAccordion {  
         padding: 4px;  
      }  
                
      .selectedheader {  
          color: White;  
         background-color: #DE0F0F; 
          padding: 4px;        
          border: solid 1px black;                    
      }  
        
      .headerAccordion {  
          color: White;  
         background-color:#8B6A00;
         cursor: pointer;
          padding: 4px;  
          border:1px solid #000;           
                                         
      }  
