body 
{
    
  background:url('Images/background.png');
  margin:0;
  padding:0;
}
.OutPage
{
    background: #1F1F1F 0 0;
    height :36px;
    width:100%;
    padding :0;
    position :relative;
    z-index :100px;
    font-family :Verdana;
    top: 0px;
    left: 0px;
    margin-top:4px;
}
.Main
{
    background-color :#EEEDEF;
	width :1000px;
	height :auto;
	margin:0 auto;
	font-family :Verdana ;
}
.Header
{
	height :97px;
	width :1000px;
	background-color :#EEEDEF;
	font-family :Verdana ;
	float :left ;
	/*background :#676143 url(Images\Images.png)no-repeat right top;*/
}
.HeaderOne
{
    height :90px;
	width :300px;
	background-color :#EEEDEF;
	margin-top:10px;
	font-family :Verdana ;
	float :left ;
}
.HeaderTwo
{
    height :100px;
	width :500px;
	background-color :#EEEDEF;
	font-family :Verdana ;
	float :left ;
}
.HeaderThree
{
    height :100px;
	width :200px;
	background-color :#EEEDEF;
	font-family :Verdana ;
	float :left ;
}

.Menu
{
    height :50px;
    width :980px;
    margin-left:400px;
    font:normal 12px veranda;
    margin:0 auto;
    background:#F4F4F4;
    border-radius:5px 5px 0px 0px;
    border:1px solid #ccc;
}

.Contents
{
    height :auto ;
    width :980px;
    float:left;
    background-color :#fff;
    font-family :Verdana ;
    border:1px solid #ccc;
    background:#F4F5F6;
    border-radius:0px 0px 6px 6px;
    padding:10px;
}
.Contentall
{
    height :auto ;
    width :1000px;
    float:right;
    background-color :#fff;
    font-family :Verdana ;
    border:1px solid #ccc;
    background:#F4F5F6;
    border-radius:0px 0px 6px 6px;
    padding-bottom:30px;
}
.FooterContent
{
    height :auto;
    width :980px;
    background-color:#fff;
    float :left ; 
    padding:10px;
    margin-top:10px;
    border-radius:3px;
}
.Footer
{
    height :auto;
    width :960px;
    background-color :Black ;
    float :left ;
     border-radius:3px;
     padding:10px;
}
.FooterOne
{
   
    float: left;
    height: 216px;
    padding: 10px;
    width: 175px;
    background:url('Images/footer_sep.png') right repeat-y;
   
}
.FooterOne ul
{
    margin:0;
    padding:0;
}
.FooterOne ul li
{
    padding:5px;
     background:url('Images/footer_sep.png') bottom repeat-x;
}
.FooterOne ul li a
{
    font:normal 12px arial;
    color:#E39D1C;
    text-transform:capitalize;
}
.FooterOne ul li a:hover
{
    color:#fff;
}
.FooterOne h1
{
    font:bold 20px calibri;
    color:#DADADA;
    margin:0;
    margin-bottom:10px;
    padding:2px;
}
.FooterTwo
{
 
    float: left;
    height: 216px;
    padding: 8px;
    width: 265px;
     background:url('Images/footer_sep.png') right repeat-y;
}
.FooterTwo a:hover
{
    color:#fff;
}
.FooterTwo h2
{
    margin:0;
    padding:2px;
    font:bold 20px calibri !important;
    color:#DADADA;
    margin-bottom:10px;
}

.FooterThree
{
  
    width :275px;
    float :left ;
    height:216px;
    padding:5px;
    background:url('Images/footer_sep.png') right repeat-y;
}
.FooterThree h2
{
    margin:0;
    padding:2px;
    margin-bottom:10px;
    font:bold 20px calibri !important;
    color:#DADADA;
}
.FooterFour
{
    height :216px;
    width :185px;
    padding:5px;
     float :left ;
   
}
.FooterFour h2
{
    margin:0;
    padding:2px;
    margin-bottom:10px;
    font:bold 20px calibri !important;
    color:#DADADA;
}
.clear
{
    clear:both; 
}

.HomeContentOne
{
    height :256px;
    width :242px;
    float:left ;
    margin-right :3px;
    background-color:#E8E8E8;
    border-radius:10px;
}
.HomeContentOneMain
{
    height :258px;
    width :980px;
    float :left ;
    margin-bottom:5px;
}
.HomeContentTwoMain
{
    height :258px;
    width :1000px;
    float :left ;
}
.HomeContentTwo
{
    height :194px;
    width :240px;
    float:left ;
    margin-right :3px;
    border:1px solid #ccc;
    border-radius:7px;
    
}
.HomeContentThree
{
    height :194px;
    width :500px;
    float:left ;
     margin-right :3px;
}
.HomeContentFour
{
     float: right;
    height: 194px;
    margin-right: 6px;
    width: 238px
}
.ContentPadding
{
    width :970px;
    padding :10px;
}



.features
{
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    float: left;
    height: auto;
   padding:10px;
   background:#f4f5f6;
    margin-top: 5px;
    width: 980px;
    
}
.feat_boxone
{
        background:url('Images/feat.png') no-repeat;
        background-color:#EEEEEE;
    float: left;
    height: 170px;
    padding: 15px;
    width: 300px;
    margin-right:8px;
    border-radius:3px;
    border:1px solid #999;
    
}
.feat_boxtwo
{

  background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    height:190px;
    margin-right: 8px;
    border:1px solid #999;
    width:300px;
    padding:5px;
    border-radius:3px;
}
.feat_boxthree
{

  background: #EEEEEE;
    float: left;
    height:190px;
    margin-right: 0px;
    padding: 5px;
    width:308px;
     border-radius:3px;
    border:1px solid #999;
}

.feat_boxtwo h1
{
     margin:0;
    padding:8px;
    font:bold 18px calibri;
    color:#061F62;
    
}
.feat_head
{
    width:318px;
    height:50px;
    float:left;
}
.feat_head h1
{
    margin:0;
    padding:0;
    font:bold 18px arial;
    color:#061F62;
}
.feat_head img
{
    float:left;
}
.feat_cont
{
    width:302px;
    height:96px;
    float:left;
}
.feat_contone
{
    width:143px;
    height:40px;
}

.graph
{
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    float: left;
    height: auto;
   margin-top:5px;
   padding:10px;
    width:980px;
    background:#F4F5F6;
}
.graph_left
{
    width:500px;
    height:auto;
    float:left;
    border:1px solid #ccc;
}
.graph_right
{
       border: 1px solid #CCCCCC;
    float: right;
    height: 355px;
    padding: 10px;
    width: 445px;
}


.feat_contone table tr td img
{
    padding:5px;
}

#content
{ border:none;
  width:980px;
}

.abtus_cnt
{
    background: #F6C22F;
    color:#444444;
    font: bold 18px calibri;
    padding: 5px;
    text-transform:capitalize;
    margin-bottom:12px;
}
#ctl00_MainContent_Label3
{
     font:normal 14px arial;
}
#ctl00_MainContent_Label3 h4
{ 
    font:15px arial;
    color:#000;
}

.c_newsbox
{
    width:980px;
    height:auto;
    float:left;
}
.c_newsbox1
{
    width:50px;
    height:auto;
    float:left;
}
.c_newsimg
{ 
    width:200px;
    height:200px;
    float:left;
    border:3px solid #EBBE2F;
}
.c_newscnt
{
    width:200px;
    height:72px;
    float:left;
    font:13px arial;
 
}
.c_newsone
{
    width:206px;
    height:390px;
    float:left;
    background:#fff;
    margin-right:20px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}
.c_newsone1
{
    width:310px;
    height:280px;
    float:left;
    background:#fff;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-bottom:6px;
}
.content_txt
{
   font:15px arial;
   color:#000;
}
.voteus_img
{
    width:200px;
    height:200px;
    float:left;
    border:1px solid #ccc;
    padding:10px;
    margin-right:15px;
}
.home_table
{
    width:500px;
    height:auto;
    float:left;
}

.home_table  tr th
{
width:764px;
height:28px;
text-align:left;
background:url(Images/acc_tab.png) repeat-x;
border:1px solid #bdbdbd;
font: normal 13px Calibri;
vertical-align:middle;
padding-left:10px;
color:#494949;
white-space:nowrap;
}

.home_table tr td
{
width:699px;
height:auto;
padding:10px 0px 10px 10px;
border:1px solid #bdbdbd;
font: normal 12px Calibri;
color:#494949;
white-space:nowrap;
text-align:left;
}


.calendar
{
    width:150px;
    height:auto;
    float:left;
}
.cal_form
{
    width:305px;
    height:20px;
    float:left;
    font:12px arial;
   margin-bottom:7px;
}
.cal_rt
{
    width:300px;
    height:180px;
    float:right;
    padding:5px;
    border-radius:3px;
    
}

.cal_form label
{
    width:140px; height:auto; float:left; font-weight:bold;
}
.cal_formrt
{
    width:165px; height:auto; float:left;
}
.c_formbtn
{
    width:70px;
    border:1px solid #999;
    border-radius:3px;
}
.yellow_btn
{
        background: url("Images/bg_btn.png") no-repeat;
    border: 0 none;
   float:left;
    height: 29px !important;
    padding-bottom: 3px;
    width: 91px !important;

}
.dash_board
{
  margin-top: 70px;
    padding: 10px;
    text-align: center;
    width: 213px;
   
}
.newsltr
{
    width:270px;
    height:24px;
    float:left;
    margin-top:10px;
}
.newsltr input[type="text"]
{
    width:165px;
    height:20px;
    border:1px solid #ccc !important;
}
.news_submit
{
     border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    height: 24px;
    width: 84px;
    background:#000;
    font:bold 12px arial;
}
.foot_cntus
{
    color:#E39D1C !important; 
    text-decoration:underline;
    font:normal 12px arial !important;
}
.cntfrm_main
{
    width:820px;
    height:auto;
    float:left;
}
.cntfrm_one
{
    width:770px;
    min-height:35px;
    float:left;
}
.cntfrm_one label
{
    min-width:250px;
    height:20px;
    float:left;
    font:bold 12px arial;
}
.cntfrm_one input[type="text"]
{
    width:250px;
    height:20px;
    float:left;
}
.cntfrm_right
{
    min-width:260px;
    min-height:32px;
    float:left;
}
.cntfrm_right textarea
{
    min-width:250px;
    max-width:250px;
}
.cal_formrt input[type="submit"]
{
    background:#000;
    color:#fff;
    border:0;
    border-radius:3px;
    width:70px;
    height:22px;
}
.h_img
{
    border: 3px solid #EBBE2F;
    float: left;
    height: 200px;
    width: 304px;
}
.prof_radio
{
    width:30px;
    height:20px;
}
.news_imag
{
    width:200px;
    height:200px;
    float:left;
    border:1px solid;
    margin:5px;
}
.lat_newsrit
{
    width:500px;
    float:left;
    height:30px;
    color:#E8A721;
    font:bold 20px calibri;
}
.latnews_summary
{
    width:700px;
    height:30px;
    float:left;
}
 
 .latnews_exp
{
    width:765px;
    height:auto;
    float:left;
}
   
.creat_user
{
        background: url("Images/btn_pixel.png") repeat scroll 0 0 transparent;
    border: 1px solid #F6BD08;
    font:normal 12px arial;
    border-radius: 4px 4px 4px 4px;
    height: 24px;
    margin-top: 7px;
    min-width: 95px;
    padding-bottom: 3px;

}
#Payment_divpay input[type="image"]
{
    width:90px !important; height:45px !important; float:left;
}
.calc_main
{
    width:300px;
    height:180px;
    float:left;
    padding:5px;
    border-radius:3px;
    margin-left:30px;
    border:2px solid #4d4d4d; border-radius:4px;   opacity: 0.7; color:#000; background:#FFFFCC;  
}
.calculation_tot
{ width:770px; height:190px; margin:0 auto;
}
.cal_calendar
{
    width:210px;
    height:185px;
    float:left;
    padding:15px 0px;
    
}
.cal_form input[type="submit"]
{
    background:#000;
    color:#fff;
    border:0;
    border-radius:3px;
    width:70px;
    height:22px;
}